/*This is how you comment-out lines of code in CSS!*/

body {
    margin: 20px auto;
    padding: 20px;
}

h3 {
    background-color: #25383C; 
}

#personal-page {
    width: 800px;
    background-color: rgba(0,0,0,.2);
    margin:20px auto;
    padding: 20px;
}

.social-icons {
    width:30px;
    height:auto;
    float:right;
}



h3 {
    color: white;
    margin: 20px;
    padding: 20px;
}

li {
    color: black;
    display: inline;
}

p {
    color: black;
}







